<Model::DB>
    traits Caching
    <connect_info>
        dsn   dbi:mysql:libki
        user   libki
        password "PASSWORD"
        auto_savepoint 1
        quote_names 1
    </connect_info>
</Model::DB>

<SIP>
    enable 0
    host ils.mylibrary.org
    port 6001
    location LIB
    username libki_sipuser
    password PassW0rd
    terminator CR
    require_sip_auth 0
    enable_split_messages 0
    fee_limit 5.00 # Can be either a fee amount, or a SIP2 field that defines the fee limit ( e.g. CC ), delete for no fee limit
    deny_on charge_privileges_denied    # You can set SIP2 patron status flags which will deny patrons the ability to log in
    deny_on recall_privileges_denied    # You can set as many or as few as you want. Delete these if you don't want to deny patrons.
    deny_on excessive_outstanding_fines # The full listing is defined in the SIP2 protocol specification
    deny_on_field AB:This is the reason we are denying you  # You can require arbitrary SIP fields to have a value of Y for patrons to be allowed to log in.
                                                            # The format of the setting is Field:Message
</SIP>

<printers>
    <printer monochrome>
        type google_cloud_printer
        google_cloud_id c4322eb8-5b5b-2783-1953-8f1245296895
        <ticket>
            color {"type": "STANDARD_MONOCHROME"}
        </ticket>
    </printer>

    <printer color>
        type google_cloud_printer
        google_cloud_id c4322eb8-5b5b-2783-1953-8f1245296895
        <ticket>
            color {"type": "STANDARD_COLOR"}
        </ticket>
    </printer>
</printers>
