<Model::DB>
    <connect_info>
        dsn   dbi:mysql:libki
        user   libki
        password "PASSWORD"
        auto_savepoint 1
        quote_names 1
	mysql_enable_utf8mb4 1
    </connect_info>
</Model::DB>

<SIP>
    enable 0
    host ils.mylibrary.org
    port 6001
    location LIB
    username libki_sipuser
    password PassW0rd
    terminator CR
    require_sip_auth 0
    enable_split_messages 0
    no_password_check 0 # If enabled, Libki won't validate the password given against the SIP server, any password will work.
    fee_limit 5.00 # Can be either a fee amount, or a SIP2 field that defines the fee limit ( e.g. CC ), delete for no fee limit
    deny_on charge_privileges_denied    # You can set SIP2 patron status flags which will deny patrons the ability to log in
    deny_on recall_privileges_denied    # You can set as many or as few as you want. Delete these if you don't want to deny patrons.
    deny_on excessive_outstanding_fines # The full listing is defined in the SIP2 protocol specification
    deny_on_field AB:This is the reason we are denying you  # You can require arbitrary SIP fields to have a value of Y for patrons to be allowed to log in.
                                                            # The format of the setting is Field:Message
    deny_on_field AF:EXPIRED_CARD:EXPIRED                   # Handling of card expiration cases
                                                            # You can change the field that contains the expiration information (AF in my case)
                                                            # Change the value that indicates that the card has expired according to the SIP response, in my case, the response contains EXPIRED
                                                            # Leave EXPIRED_CARD unchanged
    category_field PC          # Category field in SIP response
    birthdate_field PB         # Date of birth field in SIP response, default is PB
    pattern_personal_name ,    # Pattern for spliting lastname et firstname in personal name field(AE) in SIP response
    pattern_personal_name_reverse: 1 # If the names are ordered firstname then lastname, enable this option
    ILS Koha                   # Options are currently 'Koha', 'Evergreen', and 'Sierra'; defaults to Koha behavior
</SIP>
