log4perl.rootLogger			= INFO, LOGFILE, SCREEN

log4perl.appender.LOGFILE		= Log::Log4perl::Appender::File
log4perl.appender.LOGFILE.filename	= /var/log/libki/libki.log
log4perl.appender.LOGFILE.mode		= append
log4perl.appender.LOGFILE.layout	= PatternLayout
log4perl.appender.LOGFILE.layout.ConversionPattern=[%d] [libki] [%p] %m%n

log4perl.appender.SCREEN         = Log::Log4perl::Appender::Screen
log4perl.appender.SCREEN.stderr  = 1
log4perl.appender.SCREEN.layout  = Log::Log4perl::Layout::PatternLayout
log4perl.appender.SCREEN.layout.ConversionPattern = %m %n

log4perl.appender.DBI = Log::Log4perl::Appender::DBI
log4perl.appender.DBI.datasource=__LIBKI_DB_DSN__
log4perl.appender.DBI.username=__LIBKI_DB_USER__
log4perl.appender.DBI.password=__LIBKI_DB_PASSWORD__
log4perl.appender.DBI.sql=INSERT INTO logs VALUES (NULL,?,?,?,?,?)
log4perl.appender.DBI.params.1=%d{yyyy-MM-dd HH:mm:ss}
log4perl.appender.DBI.params.2=%P
log4perl.appender.DBI.params.3=%H
log4perl.appender.DBI.params.4=%p
log4perl.appender.DBI.usePreparedStmt=1
log4perl.appender.DBI.layout=Log::Log4perl::Layout::NoopLayout
log4perl.appender.DBI.warp_message=0
