LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_http_module modules/mod_proxy_http.so
<VirtualHost *:80>
    # Uncomment ServerName and edit server.libki.org to your domain name.
    # If uncommented, all http calls to this server will be directed to the libki server.
    #
    #ServerName server.libki.org

    DocumentRoot /home/libki/libki-server
    <Proxy *>
        Order deny,allow
        Allow from allow
    </Proxy>
    ProxyPass        / http://localhost:3000/ retry=0
    ProxyPassReverse / http://localhost:3000/ retry=0
</VirtualHost>
