<ul id="breadcrumbs" class="breadcrumb navbar navbar-expand-lg navbar-light bg-light">
    [% FOREACH item IN c.breadcrumbs %]
        [% IF loop.last %]
            <li class="active">
                [% item.label %]
            </li>
        [% ELSE %]
            <li>
                <a href="[% c.uri_for(item.path) %]">[% item.label %]</a>
                <span class="divider">/&nbsp;</span>
            </li>
        [% END %]
    [% END %]
</ul>
