<nav id="libki-primary-navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    [% INCLUDE language_menu.tt %]
    <div class="container">
        <a class="navbar-brand" href="[% c.uri_for('/') %]"><img src="[% c.uri_for('/static/images/logo-small.png') %]" /> [% c.loc("Libki Kiosk Management System") %]</a>
    </div>
</nav>
